In [ ]:
import pandas as pd

In [3]:
df = pd.read_csv('covid_de.csv')
df.head()

,state,county,age_group,gender,date,cases,deaths,recovered
0,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,F,2020-03-27,1,0,1
1,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,F,2020-03-28,1,0,1
2,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,F,2020-04-03,1,0,1
3,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,F,2020-10-18,1,0,1
4,Baden-Wuerttemberg,LK Alb-Donau-Kreis,00-04,F,2020-10-22,1,0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2890909 entries, 0 to 2890908
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   state      object
 1   county     object
 2   age_group  object
 3   gender     object
 4   date       object
 5   cases      int64
 6   deaths     int64
 7   recovered  int64
dtypes: int64(3), object(5)
memory usage: 176.4+ MB